/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1600px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
h1, h2, h3, h4 { width: 100% }
input, button, textarea, select { font: inherit } 

/* ================= ENDS ================ */

/* Desktops */
@media (min-width: 768px) { body { padding: 20% 20% } }
	
/* Mobiles */
@media (max-width: 767px) { body { padding: 5% 5% } }

body { 
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: burlywood
}

h1 {
    font-size: 70px;
    font-weight: normal;
    letter-spacing: -2px;
    margin-bottom: 12px;
    line-height: 1.2;
}

h2 {
    font-size: 42px;
    letter-spacing: 6px;
    margin-bottom: 48px;
    line-height: 1.2;
    color: beige;
}

h3 {
    font-size: 24px;
    margin-top: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
    text-transform: uppercase;
}

p {
    font-size: 20px;
    margin-bottom: 16px;
    border-radius: 15px;
}

